{% extends 'base.html' %}
{% block content %}
    <div class="body-wrapper">
        <h1 class="heading">Add Order:</h1>
        <div class="form-wrapper">
            <form class="form" action="{% url 'createorder' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.Customer.errors }}
                    <label for="{{ form.Customer.id_for_label }}">Customer</label>
                    {{ form.Customer }}
                </div>
                <div class="form-group">
                    {{ form.payment_method.errors }}
                    <label for="{{ form.payment_method.id_for_label }}">Payment Method</label>
                    {{ form.payment_method }}
                </div>
                <div class="form-group">
                    {{ form.payment_acct_number.errors }}
                    <label for="{{ form.payment_acct_number.id_for_label }}">Payment Acct Number</label>
                    {{ form.payment_acct_number }}
                </div>
                <div class="form-group">
                    {{ form.payment_acct_security_code.errors }}
                    <label for="{{ form.payment_acct_security_code.id_for_label }}">Security Code</label>
                    {{ form.payment_acct_security_code }}
                </div>
                <div class="form-group">
                    {{ form.order_total.errors }}
                    <label for="{{ form.order_total.id_for_label }}">Order Total</label>
                    {{ form.order_total }}
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="create order">
                <div class="form-group">
            </form>
        </div>
    </div>
{% endblock %}